*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    transition: 0.2s !important;
    scroll-behavior: smooth;
    /* border: 1px solid #000; */
}

body{
    overflow-x: hidden;
}


/* ---------------------NAVBAR--------------- */
